@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --heading-size-1: 18px;
  --heading-size-2: 24px;
  --heading-size-3: 32px;
  --text-size-1: 14px;
  --text-size-2: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-2: #2b3844;
    --background-color: #202c36;
    --text-color: #fff;
    --text-color-2: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-2: #fff;
    --background-color: #fafafa;
    --text-color: #111517;
    --text-color-2: #848484;
  }
}
